
<div class="container-content">
    <div class="content-title">
        <h5>Blog</h5>
        <h1>
            The Journal: Design Resources,
            Interviews, and Industry News
        </h1>

        <div class="container-button">

            <input type="text"  placeholder="Enter your Email" id="">
            <button>
                Subscribe  
            </button>
        </div>
        
    </div>

    <div class="content-subtitle">
        <p>
            Subscribe to learn about new product features,
            the latest in technology, solutions, and updates.
        </p>
    </div>

</div>