<div class="card-complete">
    <div class="card-image">
        <img src="assets/img/Free-Amazing-Background-Images-Nature.jpg" alt="">
    </div> 

    <div class="card-text">

        <p>Phoenix Bake - 19 jan 2024</p>

        <h1>
            A Relentless Pursuit of Perfection in 
            Product Design
        </h1>

        <p>
            "I began to notice that there was a sharp contrast between
            well-made, crafted products and poorly made ones, and an
            even greater distinction between the people who made the..."
        </p>
        
    </div>

    <div class="card-description">
        <ul>
            <li *ngFor="let item of cardDescription">
                {{ item }}
            </li>
        </ul>
    </div> 
</div>
    