.header{
    width: 90%;
    height: 4rem;
    display: flex;
    margin: auto;
    margin-top: 0rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
}


/* TITULO PRINCIPAL DA PAGINA */

.header-title{
    width: 8rem;
    display: flex;
    justify-content: space-evenly;
}

.header-title h1{
    font-size: 15px;
    margin: auto;
    font-weight: 500;
}

.header-logo{
    width: 8%;
    height: 10px;
    border: solid 4px white;
    border-radius: 50px;
    padding: 0.5rem;
    margin: auto;
}


/* BARRA DE OPÇÕES */

.header-bar{
    width: 70%;
    display: flex;
}

.options{
    width: 80%;
    
}

.options ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 15px;
    margin-top: 1.5rem;
    font-weight: 500;
}

.options ul li a {
    color: white;
    font-style: normal; 
    text-decoration: none;
    font-size: 16px; 
    transition: font-size 0.25s ease; 
}

.options ul li a:hover {
    font-size: 20px; 
}



.started-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: auto;
    width: 15%;
    height: 3rem;
    background-color: rgb(118, 168, 255);
    color: white;
    border: solid 2px white;
    border-radius: 15px;
    margin-top: 0.75rem;
    text-align: center; 
    transition: width 0.25s ease, height 0.25s ease, transform 0.25s ease; 
    cursor: pointer;
}

.started-button:hover {
    width: 17%; 
    height: 3.5rem; 
    transform: scale(1.05);
}

.started-button p {
    margin: 0; 
}

.started-button strong {
    display: block; 
}




