<div class="header">
    <div class="header-title">
        <div class="header-logo"></div>
        <h1>
            <strong>
                Untitled UI
            </strong>        
        </h1>
    </div>
    
    <div class="header-bar">
        <div class="options">

            <ul>
                <li *ngFor="let item of headerOptions">
                    <a href="">{{item}} </a>
                </li>
            </ul>
        </div>

        <button class="started-button">
            <p>
                <strong>
                    Get Started
                </strong>
            </p>
        </button>
        
    </div>

</div>
